/* src/App.css */
.App {
  text-align: center;
}

.login {
  margin: 20px;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login div {
  margin: 10px 0;
}

.drivers {
  margin: 20px;
}

.drivers ul {
  list-style-type: none;
  padding: 0;
}

.drivers li {
  margin: 5px 0;
}